h1 {
  background-color: beige;
  text-align: center;
  text-decoration: overline line-through underline;
  text-decoration-color: magenta;
}
p {
  text-align: justify;
  text-align-last: justify;
  width: 400px;
}
